<ion-header>
  <ion-toolbar color="MyColor">
    <ion-title color="light"><img src="../assets/img/epico.png" height="50px" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-avatar id="avatar"#avatar>
            
      <img alt="Silhouette of a person's head" src="https://i.ytimg.com/vi/zOT6Hkh0FZQ/maxresdefault.jpg" />
    </ion-avatar>
</ion-grid>

<ion-grid>
    <ion-input
    type="email"
    fill="solid"
    label="Email"
    labelPlacement="floating"
    helperText="Enter a valid email"
    errorText="Invalid email"
    ngModel
    email><br></ion-input>
</ion-grid>

<ion-grid>
  <ion-button [routerLink]="['/home']">Ingresar</ion-button>
</ion-grid>

</ion-content>

<ion-footer>
  <p style="font-size: xxx-large">DuocUC</p>
  <br>
  <p style="font-size:medium">Instituto Profesional DuocUC</p>
  <p style="font-size:medium">7 años desde agosto 2017 hasta ahora</p>
  <p style="font-size:medium">agosto2024</p>

</ion-footer>