<ion-header>
  <ion-toolbar color="MyColor">
    <ion-title color="light"><img src="../assets/img/epico.png" height="50px"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="tarjeta-loggin">
    <ion-card-content>

  <ion-grid> 
    <ion-avatar id="avatar"#avatar>
      <img alt="Silhouette of a person's head" src="https://i.ytimg.com/vi/zOT6Hkh0FZQ/maxresdefault.jpg" />
    </ion-avatar>

    <ion-input [(ngModel)]="user.usuario" label="Usuario" label-placement="floating" fill="solid"></ion-input>
    <ion-input [(ngModel)]="user.mail" id="mail" type="email" fill="solid" label="Email" labelPlacement="floating"
      helperText="Enter a valid email" errorText="Invalid email" ngModel email></ion-input>

        <ion-item color="Duoc">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="user.password" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-checkbox labelPlacement="end">Mantener sesión iniciada</ion-checkbox>
        <br>
        <ion-row>
          <ion-col size="12" size-sm="3" > <h6><a [routerLink]="['/forgot-password']">Reestablecer Contraseña</a></h6> </ion-col>
          <ion-col size="12" size-sm="3" > <ion-button id="ingresar" shape="round" (click)="enviarInformacion()">Ingresar</ion-button> </ion-col>
          <ion-col size="16" size-sm="3" > <ion-button id="open-modal" expand="block" shape="round">Registrarse</ion-button> </ion-col>
        </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Salir</ion-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
        <ion-buttons slot="end" id="present-alert">
          <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="user.usuario" label="Nombre Usuario" labelPlacement="floating"
          placeholder="Ingrese su Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="user.mail" label="Gmail" labelPlacement="floating"
          placeholder="Ingrese su Correo Electronico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="floating"
          placeholder="Ingrese su Contraseña"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>

<br>
<ion-footer>
  <p style="font-size: xxx-large">DuocUC</p>
  <br>
  <p style="font-size:medium">Instituto Profesional DuocUC</p>
  <p style="font-size:medium">7 años desde agosto 2017 hasta ahora</p>
  <p style="font-size:medium">agosto2024</p>

</ion-footer>
