<ion-header>
  <ion-toolbar color="MyColor">
    <ion-title color="light"><img src="../assets/img/epico.png" height="50px"/></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"><a [routerLink]="['/gestion']">Gestion</a></ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-content class="ion-padding"> 
        <ion-label>Buenas tardes, {{user.usuario}}.</ion-label><br><br>
      </ion-content>
  </div>
    <br>
  <swiper-container id="slide1">
    <swiper-slide><img src="../assets/img/duoc_1.png" (click)="presentToast2()"></swiper-slide>
    <swiper-slide><img src="../assets/img/duoc_2.png" (click)="presentToast2()"></swiper-slide>
    <swiper-slide><img src="../assets/img/duoc_3.png" (click)="presentToast2()"></swiper-slide>
  </swiper-container>

  <div id="btn-camara">
    <ion-button (click)="scan()"shape="round">Escanear Codigo</ion-button>
  </div>
</ion-content>

<ion-footer>
  <p style="font-size: xxx-large">DuocUC</p><br>
  <p style="font-size:medium">Instituto Profesional DuocUC</p>
  <p style="font-size:medium">7 años desde agosto 2017 hasta ahora</p>
  <p style="font-size:medium">agosto2024</p>
</ion-footer>