ion-toolbar{
    background-color: var(--ion-color-duocazul);
}

ion-footer{
  background-color: var(--ion-color-duocazul);
  height: 150px;
}

p{
    color: white;
    margin: auto;
    padding-left:  10px;
    padding-top: 10px;
    font-family:'myriad Pro bold';
}

